.dropzone-container {
  margin: 1em;
  height: 92vh;
  max-width: 80vw;
  min-width: 30vw;
  border-radius: 3px;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.3);
  background-color: #fcfcfc;
  overflow: hidden,
}
.fileslist-container{
  overflow: hidden;
}

.container {
  margin: 1em;
  width: inherit;
}

.settings {
  padding-top: 10vh;
}

.dropzone {
  border: #abb0b6 dashed 0.2em;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}

p {
  margin: 0;
}

th {
  text-align: center;
}

td {
  color: #0475b0;
}

.upload-header {
  margin: 1em 0 .5em 0;
  padding-top: 1em;
  align-self: flex-start;
  text-align: left;
}

.drop-here-txt {
  font-size: 1em;
  margin: .5em;
}

.or-txt {
  font-size: .6em;
  margin: .5em;

}

.file-select-btn {
  align-self: center;
  width: fit-content;
  font-size: .75em;
  border-radius: 3px;
  padding: .3em .7em;
  margin: .5em;
  box-shadow: 0 1px 0 0 rgba(204, 204, 204, 0.5);
  background-color: #ffa943;
}