.home-container {
    display: flex;
    flex-flow: wrap;
    height: 100vh;
  }

.content {
  display: flex;
  justify-content: flex-start;
}

@media only screen and (max-width: 500px) {
  .content {
    flex-direction: column-reverse;
    justify-self: flex-start;
    align-self: flex-start;
  }
}