.sidebar-container {
  height: 95vh;
  margin-top: .1em;
  min-width: 20vw;
  max-width: 150px;
  background-color: #2c0f56;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.departments {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  height: fit-content;
  max-height: 50%;
}

.departments-header {
  align-self: flex-start;
  font-family: Avenir;
  margin: .7em;
  font-size: 1.1em;
  font-weight: 900;
  letter-spacing: .1em;
  color: #eeeeee
}

.teams {
  padding: 0;
  width: 100%;
}

.team {
  padding-left: .7em;
  display: flex;
  width: 100%;
  list-style-type: none;
}

.team:hover {
  background-color: #991f28;
  box-shadow: 0 2px 4px 0;
}

.team-name {
  font-size: 1em;
  padding: .5em;
  align-self: center;
  font-weight: normal;
  font-style: oblique;
  color: #eeeeee;
}

.wrapper {
  margin: 1em 0 2.5em 0;
}

.wrapper2 {
  width: '100%';
  margin: 1em 0 2.5em 0;
}

.logout {
  font-family: Avenir;
  border: none;
  width: 70%;
  justify-items: flex-end;
  font-size: 1em;
  color: #ffffff;
  background-color: #991f28;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 #1e0b3a;
  margin: .7em 1.25em;
  padding: .2em 0;
  align-self: center;
}

@media only screen and (max-width: 500px) {
  .sidebar-container {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    min-width: 100vw;
    max-height: fit-content;
    flex-direction: row;
  }

  .departments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    height: fit-content;
    max-height: 50%;
  }

  .wrapper {
    align-items: center;
    padding: none;
    margin-bottom: 0;
    max-height: 20vh;
    width: 50vw;
    flex-flow: wrap;
  }

  .wrapper2 {
    align-items: center;
    width: 30vw;
  }

  .teams {
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
  }

  .settings {
    justify-self: left;
    margin: 0 auto;
    display: block;
  }

  .team {
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 45%;
    flex-flow: nowrap;
  }
}