.sidebar-container {
  height: 95vh;
  margin-top: .1em;
  min-width: 20vw;
  max-width: 150px;
}

  background-color: #2c0f56;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.departments {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  height: fit-content;
  max-height: 50%;
}

.departments-header {
  align-self: flex-start;
  font-family: Avenir;
  margin: .7em;
  font-size: 1.1em;
  font-weight: 900;
  letter-spacing: .1em;
  color: #eeeeee
}

.teams {
  padding: 0;
  width: 100%;
}

.team {
  padding-left: .7em;
  display: flex;
  width: 100%;
  list-style-type: none;
}

.team:hover {
  background-color: #991f28;
  box-shadow: 0 2px 4px 0;
}

.team-name {
  font-size: 1em;
  padding: .5em;
  align-self: center;
  font-weight: normal;
  font-style: oblique;
  color: #eeeeee;
}

.logout {
  font-family: Avenir;
  justify-items: flex-end;
  font-size: 1em;
  color: #ffffff;
  background-color: #991f28;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 #1e0b3a;
  margin: .7em 1.25em;
  padding: .2em 0;
  align-self: center;
  width: 5vw;
}